{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | پنل مدیریت {% endblock %}

{% block branding %}

<h1 id="site-name"><a href="{% url 'admin:index' %}">
  <img src="{% static 'admin/images/1065.png' %}"  style="width:30px; height:auto;">
  <span  style="color:white;">پنل مدیریت آرشیو قوانین صحی</span>
</a></h1>

{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}